*.spec
velocity.log
results/
cmd_tmp
.settings
target/test-classes
change_to_master.sh
gson*
target/classes/ar
/target/
out/
../invariants/

# Created by https://www.gitignore.io/api/java

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# End of https://www.gitignore.io/api/java

bin/
